In [1]:
import pandas as pd

In [2]:
#loading the file 'Open' using pandas
df_open = pd.read_csv('open.csv')

#loading the file 'Close' using pandas
df_close = pd.read_csv('close.csv')

#loading the file 'adj_close' using pandas
df_adj_close = pd.read_csv('adj_close.csv')

#loading the file 'High' using pandas
df_high = pd.read_csv('high.csv')

#loading the file 'Low' using pandas
df_low = pd.read_csv('low.csv')

#loading the file 'Volume' using pandas
df_volume = pd.read_csv('volume.csv')

In [3]:
# Creating a list with all the currencies
list_of_currencys = df_volume.iloc[:,1:].columns.to_list()
list_of_currencys

['ADA-USD',
 'ATOM-USD',
 'AVAX-USD',
 'AXS-USD',
 'BTC-USD',
 'ETH-USD',
 'LINK-USD',
 'LUNA1-USD',
 'MATIC-USD',
 'SOL-USD']

In [4]:
# Function
df = {}

for currency in list_of_currencys:
    
    df[currency] = pd.DataFrame()

    #retrieving open price
    df1 = df_open[['Date',currency]].copy()
    #filtering only non-null records
    df1 = df1[~df1[currency].isnull()].copy()
    #renaming column ETH-USD to open, which means the Open price for the currency
    df1.rename(columns={currency: "open"}, inplace=True)

    #retrieving close price
    df2 = df_close[['Date',currency]]
    #filtering only non-null records
    df2 = df2[~df2[currency].isnull()].copy()
    #renaming column ETH-USD to close, which means the Open price for the currency
    df2.rename(columns={currency: "close"}, inplace=True)

    #retrieving adj_close price
    df3 = df_adj_close[['Date',currency]]
    #filtering only non-null records
    df3 = df3[~df3[currency].isnull()].copy()
    #renaming column ETH-USD to adj_close, which means the adj_close price for the currency
    df3.rename(columns={currency: "adj_close"}, inplace=True)

    #retrieving highest price
    df4 = df_high[['Date',currency]]
    #filtering only non-null records
    df4 = df4[~df4[currency].isnull()].copy()
    #renaming column ETH-USD to high, which means the highest price for the currency
    df4.rename(columns={currency: "high"}, inplace=True)

    #retrieving lowest price
    df5 = df_low[['Date',currency]]
    #filtering only non-null records
    df5 = df5[~df5[currency].isnull()].copy()
    #renaming column ETH-USD to df5, which means the lowest price for the currency
    df5.rename(columns={currency: "low"}, inplace=True)

    #retrieving Volume
    df6 = df_volume[['Date',currency]]
    #filtering only non-null records
    df6 = df6[~df6[currency].isnull()].copy()
    #renaming column ETH-USD to Volume, which means the Volume for the currency
    df6.rename(columns={currency: "volume"}, inplace=True)
    
    name=str(currency)

    #merging dataframes into a single dataframe
    temp_2 = pd.merge(df1, df2, left_on='Date', right_on='Date', how='left')
    temp_3 = pd.merge(temp_2, df3, left_on='Date', right_on='Date', how='left')
    temp_4 = pd.merge(temp_3, df4, left_on='Date', right_on='Date', how='left')
    temp_5 = pd.merge(temp_4, df5, left_on='Date', right_on='Date', how='left')
    temp_6 = pd.merge(temp_5, df6, left_on='Date', right_on='Date', how='left')    
    df[currency] = temp_6.copy()
    
    print(currency,"\n",round(df[currency],2).tail(5),"\n\n")

ADA-USD
             Date  open  close  adj_close  high   low        volume
1624  2022-04-21  0.94   0.91       0.91  0.97  0.90  8.711113e+08
1625  2022-04-22  0.91   0.91       0.91  0.92  0.89  7.257889e+08
1626  2022-04-23  0.91   0.89       0.89  0.91  0.88  4.479977e+08
1627  2022-04-24  0.89   0.89       0.89  0.90  0.88  4.876295e+08
1628  2022-04-25  0.89   0.90       0.90  0.90  0.83  1.139869e+09


ATOM-USD
             Date   open  close  adj_close   high    low       volume
1134  2022-04-21  24.29  23.31      23.31  24.91  23.07  441027946.0
1135  2022-04-22  23.31  23.09      23.09  23.85  22.96  404175037.0
1136  2022-04-23  23.09  23.27      23.27  23.45  22.86  262237459.0
1137  2022-04-24  23.26  22.33      22.33  23.26  22.32  296530518.0
1138  2022-04-25  22.33  22.13      22.13  22.33  20.95  515036727.0


AVAX-USD
            Date   open  close  adj_close   high    low       volume
578  2022-04-21  78.27  75.08      75.08  80.01  74.41  569385150.0
579  2022-04-22  75.08  74.12      74.12  77.15  73.49  532238762.0
580  2022-04-23  74.13  72.92      72.92  74.37  72.63  360787956.0
581  2022-04-24  72.89  71.60      71.60  73.44  71.34  320340266.0
582  2022-04-25  71.61  72.87      72.87  72.90  67.56  735322462.0


AXS-USD
            Date   open  close  adj_close   high    low       volume
533  2022-04-21  46.15  45.10      45.10  47.91  44.62  315254265.0
534  2022-04-22  45.08  45.96      45.96  46.51  44.90  293223333.0
535  2022-04-23  45.96  45.18      45.18  46.07  45.05  185825882.0
536  2022-04-24  45.17  44.37      44.37  45.52  44.33  171259555.0
537  2022-04-25  44.37  42.97      42.97  44.43  40.35  342114485.0


BTC-USD
             Date      open     close  adj_close      high       low  \
1821  2022-04-21  41371.52  40527.36   40527.36  42893.58  40063.83
1822  2022-04-22  40525.86  39740.32   39740.32  40777.76  39315.42
1823  2022-04-23  39738.72  39486.73   39486.73  39935.86  39352.20
1824  2022-04-24  39478.38  39469.29   39469.29  39845.93  39233.54
1825  2022-04-25  39472.61  40458.31   40458.31  40491.75  38338.38

           volume
1821  35372786395
1822  28011716745
1823  16138021249
1824  17964398167
1825  35445730570


ETH-USD
             Date     open    close  adj_close     high      low        volume
1624  2022-04-21  3077.83  2987.48    2987.48  3173.45  2962.41  2.078359e+10
1625  2022-04-22  2986.94  2964.84    2964.84  3024.85  2942.36  1.678280e+10
1626  2022-04-23  2964.80  2938.11    2938.11  2975.32  2926.74  9.116956e+09
1627  2022-04-24  2937.35  2922.73    2922.73  2961.88  2922.13  9.696830e+09
1628  2022-04-25  2922.99  3009.39    3009.39  3018.42  2804.51  2.233269e+10


LINK-USD
             Date   open  close  adj_close   high    low       volume
1624  2022-04-21  14.02  13.59      13.59  14.35  13.47  503314643.0
1625  2022-04-22  13.59  13.61      13.61  13.85  13.51  464995123.0
1626  2022-04-23  13.61  13.34      13.34  13.64  13.33  322384215.0
1627  2022-04-24  13.34  13.29      13.29  13.61  13.28  299368814.0
1628  2022-04-25  13.29  13.46      13.46  13.49  12.58  506454272.0


LUNA1-USD
             Date   open  close  adj_close   high    low        volume
1000  2022-04-21  94.94  90.80      90.80  99.24  90.33  2.322037e+09
1001  2022-04-22  90.78  93.68      93.68  96.71  90.72  2.542109e+09
1002  2022-04-23  93.67  89.53      89.53  93.90  89.20  1.251243e+09
1003  2022-04-24  89.44  90.56      90.56  92.18  89.00  1.256729e+09
1004  2022-04-25  90.47  97.04      97.04  97.25  87.54  2.826796e+09


MATIC-USD
             Date  open  close  adj_close  high   low        volume
1089  2022-04-21  1.42   1.38       1.38  1.47  1.37  6.526199e+08
1090  2022-04-22  1.38   1.40       1.40  1.50  1.37  1.281223e+09
1091  2022-04-23  1.40   1.37       1.37  1.41  1.35  5.494467e+08
1092  2022-04-24  1.37   1.34       1.34  1.37  1.34  4.209603e+08
1093  2022-04-25  1.34   1.35       1.35  1.35  1.27  7.130073e+08


SOL-USD
            Date    open   close  adj_close    high     low        volume
741  2022-04-21  105.50  101.78     101.78  109.77  100.77  1.838572e+09
742  2022-04-22  101.76  100.61     100.61  103.50   99.58  1.274794e+09
743  2022-04-23  100.62  100.74     100.74  102.77   98.78  8.232525e+08
744  2022-04-24  100.73   99.24      99.24  102.22   99.01  8.182660e+08
745  2022-04-25   99.24  101.25     101.25  101.44   94.76  1.538487e+09

In [5]:
# To check one specific dataset replace "currency" by the currency of interest
df['ADA-USD']

,Date,open,close,adj_close,high,low,volume
0,2017-11-09,0.025160,0.032053,0.032053,0.035060,0.025006,1.871620e+07
1,2017-11-10,0.032219,0.027119,0.027119,0.033348,0.026451,6.766780e+06
2,2017-11-11,0.026891,0.027437,0.027437,0.029659,0.025684,5.532220e+06
3,2017-11-12,0.027480,0.023977,0.023977,0.027952,0.022591,7.280250e+06
4,2017-11-13,0.024364,0.025808,0.025808,0.026300,0.023495,4.419440e+06
...,...,...,...,...,...,...,...
1624,2022-04-21,0.937272,0.910474,0.910474,0.969453,0.896912,8.711113e+08
1625,2022-04-22,0.910335,0.907154,0.907154,0.923741,0.893973,7.257889e+08
1626,2022-04-23,0.907185,0.888503,0.888503,0.910614,0.884660,4.479977e+08
1627,2022-04-24,0.888279,0.886350,0.886350,0.897855,0.881857,4.876295e+08
1628,2022-04-25,0.886378,0.898695,0.898695,0.901707,0.830232,1.139869e+09